<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:fragment="common-head">
		<meta charset="UTF-8">
		<title>Insert </title>
		<link rel="stylesheet" 
				th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" 
				href="webjars/bootstrap/4.5.3/css/bootstrap.css" />
		<link  rel="stylesheet" href="css/aaaa.css">
</head>

<body>

	<nav  style="float: right;" th:fragment="nav" class="navbar navbar-expand-sm bg-dark navbar-dark" >
	  <!-- Brand -->
	  <!-- Links -->
	  <ul class="navbar-nav">
	   
	    <li class="nav-item dropdown">
	      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
	      	<span sec:authorize="isAuthenticated()">
	        	<span sec:authentication="name"> </span>
	        </span>
	      </a>
	      <div class="dropdown-menu">
	      	<a sec:authorize="!isAuthenticated()" class="dropdown-item" href="#">Login</a>
	        <a class="dropdown-item" href="#">Logout</a>
	        <a class="dropdown-item" href="#">Link 3</a>
	      </div>
	    </li>
	  </ul>
	  
	  </nav>
			
	    			<nav id="sidebar" class="sidebar-wrapper">
    			<div class="sidebar-content">
     		    	<div class="sidebar-header">
        				<div class="user-info">
					      	<span sec:authorize="isAuthenticated()">
					        	<span sec:authentication="name"> </span>
					        </span>
        				    <span class="user-role">Administrator</span>
        				</div>
      				</div>
     				 <!-- sidebar-search  -->
      				<div class="sidebar-menu">
       					<ul>
        			    	<li class="header-menu">
            					<span>General</span>
          					</li>
          					
          					<li class="sidebar-dropdown">
					            <a th:href="@{/hotelier}">
					              <i class="fa fa-tachometer-alt"></i>
					              <span>gestion des hotelier</span>
					            </a>
         					 </li>
         					 
         					 <li class="sidebar-dropdown">
					            <a th:href="@{/cuisinier}">
					              <i class="fa fa-shopping-cart"></i>
					              <span>gestion des cuisinier</span>
					            </a>
          					</li>
          					
         					 <li class="sidebar-dropdown">
					            <a th:href="@{/client}">
					              <i class="far fa-gem"></i>
					              <span>gestion des cient</span>
					            </a>
         					 </li>
         					 
					         <li class="sidebar-dropdown">
					            <a href="#">
					              <i class="fa fa-chart-line"></i>
					              <span>gestion des fournisseur</span>
					            </a>
					         </li>
					         
					         <li class="sidebar-dropdown">
					            <a th:href="@{/chambre}">
					              <i class="fa fa-chart-line"></i>
					              <span>gestion des chambres</span>
					            </a>
					         </li>
					         <li class="sidebar-dropdown">
					            <a th:href="@{/res}">
					              <i class="fa fa-chart-line"></i>
					              <span>gestion des reseration</span>
					            </a>
					         </li>
					         
					          <li class="sidebar-dropdown">
					            <a href="#">
					              <i class="fa fa-chart-line"></i>
					              <span>Dashboard</span>
					            </a>
					         </li>
					         


        				</ul>
     			 </div>
   		   </div>
    
    
	</nav>
	 






<div th:fragment="scripts">
				<script src="webjars/jquery/3.5.1/jquery.js"
				th:src="@{/webjars/jquery/3.5.1/jquery.min.js/}"></script>
				
				<script src="webjars/bootstrap/4.5.3/js/bootstrap.js"
				th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
</div>

</body>
</html>