<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="common/header :: common-head">
		
	</head>

     <body>

     	<div class="page-wrapper chiller-theme toggled">
     	
  			<nav th:replace="common/header :: nav">
		
	       </nav>
  <!-- sidebar-wrapper  -->

		
		
		 <!-- 	<h1>gestion des tables</h1>
				<div class="container my-2">
			
			<form  method="get"  th:action="@{clients}">
				<div class="form-group">
					<label>Name</label>
					<input type="text" name="keyword" >
					<button class="btn btn-success"> chercher</button>
				</div>
			</form>
			
			
		
        
      <div>
       		total rows [[${totalItems}]]   page -   [[${currentPage}]] of [[${totalPage}]] 
       		&nbsp; - &nbsp;
       		<span th:each ="i: ${#numbers.sequence(1,totalPage)}">
       			<span> [[${i}]]</span>&nbsp;&nbsp;
       		</span>
       
       </div> 
        
        <nav aria-label="Page navigation example">
  			<ul class="pagination">
    			<li class="page-item"  th:each ="pageNum,status:${pages}">
    			<a  th:class="${status.index==currentPage?'btn btn-primary' : 'btn'}" th:href="@{clients(pageNum=${status.index})}" th:text="${status.index}"></a>
    			</li>

  			</ul>
		</nav>
		
		
	  </div>--> 
     

      <footer class="text-center">
        <div class="mb-2">
          <small>
            © 2020 made with <i class="fa fa-heart" style="color:red"></i> by - jaziri oussema
            
          </small>
        </div>


      </footer>

    </div>

  </main>
  <!-- page-content" -->
</div>
     
     

	
		<script src="webjars/jquery/3.5.1/jquery.js"
				th:src="@{/webjars/jquery/3.5.1/jquery.min.js/}"></script>
				
		<script src="webjars/bootstrap/4.5.3/js/bootstrap.js"
				th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
	</body>
</html>