<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" 
				th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" 
				href="webjars/bootstrap/4.5.3/css/bootstrap.css" />
				
				<script src="webjars/jquery/3.5.1/jquery.js"
				th:src="@{/webjars/jquery/3.5.1/jquery.min.js/}"></script>
				
				<script src="webjars/bootstrap/4.5.3/js/bootstrap.js"
				th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
</head>
<body>

    <div class="container">
    	<div class="row col-md-6 col-md-offset-3">
    	   <div class="panel panel-primary">
    	     	<div class="panel-heading">
    	     		<h1>hhhh</h1>
    	     	</div>
    	     	<div class="panel-body">
    	     
    	     	</div>
    	     	<div class="panel-footer">
    	     
    	     	</div>
    	     	
    	    </div>
    	</div>
        <h1>gestion des tables</h1>
        <hr>
        <h2>ajouter table</h2>

           <form action="#" th:action="@{/saveres}" th:object="${reservationEntity}" method="POST">
        
            
        

            <input type="date" th:field="*{debut}" placeholder="debut" class="form-control mb-4 col-4"><br>

            <input type="date" th:field="*{fin}" placeholder="prenom" class="form-control mb-4 col-4"><br> 
            
            <input type="text" th:field="*{typereservation}" placeholder="Email" class="form-control mb-4 col-4"><br>

            <input type="text" th:field="*{nbrPersonne}" placeholder="Email" class="form-control mb-4 col-4"><br>


            <button type="submit" class="btn btn-info col-2"> enregistrer</button>
        </form>  

        <hr>

        <a > Back to Employee List</a>
    </div>
</body>
</html>