<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment ="head">
    
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="image/favicon.png" type="image/png">
        <title>Royal Hotel</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="vendors/linericon/style.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
        <link rel="stylesheet" href="vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css">
        <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css">
        <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
        <!-- main css -->
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/responsive.css">
   
</head>
<body>

        <header th:fragment="header" class="header_area">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" th:href="@{/}"><img src="image/Logo.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icoreservation spring bootn-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item active"><a class="nav-link" th:href="@{/}">Home</a></li> 
                            <li class="nav-item"><a class="nav-link" href="about.html">About us</a></li>
                            <li class="nav-item"><a class="nav-link" href="gallery.html">Gallery</a></li>

                            <li class="nav-item"><a class="nav-link" th:href="@{loginn}">login</a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{/addclient}">registre</a></li>
                        </ul>
                    </div> 
                </nav>
            </div>
        </header>
        
        
        
        <section th:fragment="setion" class="banner_area">
            <div class="booking_table d_flex align-items-center">
            	<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
				<div class="container">
					<div class="banner_content text-center">
						<h6>Away from monotonous life</h6>
						<h2>Relax Your Mind</h2>
						<p>If you are looking at blank cassettes on the web, you may be very confused at the<br> difference in price. You may see some for as low as $.17 each.</p>
						<a th:href="@{/reservation}" class="btn theme_btn button_hover">book now</a>
					</div>
				</div>
            </div>
        </section>
        
        

		<div th:fragment="scripts">
			<script src="js/jquery-3.2.1.min.js"></script>
	        <script src="js/popper.js"></script>
	        <script src="js/bootstrap.min.js"></script>
	        <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
	        <script src="js/jquery.ajaxchimp.min.js"></script>
	        <script src="js/mail-script.js"></script>
	        <script src="vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js"></script>
	        <script src="vendors/nice-select/js/jquery.nice-select.js"></script>
	        <script src="js/mail-script.js"></script>
	        <script src="js/stellar.js"></script>
	        <script src="vendors/lightbox/simpleLightbox.min.js"></script>
	        <script src="js/custom.js"></script>
		</div>

</body>
</html>