<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="common/header :: common-head">
		
	</head>

     <body>

     	<div   class="page-wrapper chiller-theme toggled">
          	<nav th:replace="common/header :: nav">
		
	       </nav>
  <!-- sidebar-wrapper  -->
  			<main class="page-content">
    
     			<div class="container" >
					<div class="jumbotron">
						<div class="card">
  							<div class="card-header">
           						<h2>gestion des chambres disponible</h2> 
  							</div>
 	 						<div class="card-body">
    							<h3 class="card-title">list des chambres dispo</h3><h4 th:text = "${nbr}"></h4>
    							<div class="row">
    								<div class="col-md-12 text-right" >
    									<a class="btn btn-success badge-pill" style="width: 80px;" th:href ="@{/addchambre}"> ajouter </a>
    								</div>
    							</div>
    							<br>
								<table  class="table table-dark table-hover table-bordered">
				           			 <thead >
				               			 <tr>
						                    <th scope="col" >id</th>
						                    <th scope="col"  >num</th>
						                    <th scope="col" >type</th>
						                    <th scope="col" >nbr de lits</th>
						                    <th scope="col" >etat</th>
						                    
						                    <th class="text-right"  >action</th>
				               		 	</tr>
				            		</thead>
				            		<tbody>
						                <tr th:each="ch:${chambreDisponibles}" >
							                    <td th:text="${ch.idchambre}"></td>
							                    <td th:text="${ch.numchambre}"></td>
							                    <td th:text="${ch.typechambre}"></td>
							                    <td th:text="${ch.nbrdelit}"></td>
							                    <td th:text="${ch.etat}"></td>
					                            <td class="text-right" > 
					                    	 		<a class="btn btn-primary badge-pill " style="width: 80px;"  th:href="@{/updatechambre/{id}(id=${ch.idchambre})}" > update</a>
					                        		<a class="btn btn-danger badge-pill " style="width: 80px;"  th:href="@{/deletechambre/{id}(id=${ch.idchambre})}" > delete</a>
					                   			</td>
				                        </tr>
				           			</tbody>
				        		</table>


 					 	</div>
				</div>		
		</div>
</div> 
		
		
		
		 <!-- 	<h1>gestion des tables</h1>
				<div class="container my-2">
			
			<form  method="get"  th:action="@{clients}">
				<div class="form-group">
					<label>Name</label>
					<input type="text" name="keyword" >
					<button class="btn btn-success"> chercher</button>
				</div>
			</form>
			
			
		
        
      <div>
       		total rows [[${totalItems}]]   page -   [[${currentPage}]] of [[${totalPage}]] 
       		&nbsp; - &nbsp;
       		<span th:each ="i: ${#numbers.sequence(1,totalPage)}">
       			<span> [[${i}]]</span>&nbsp;&nbsp;
       		</span>
       
       </div> 
        
        <nav aria-label="Page navigation example">
  			<ul class="pagination">
    			<li class="page-item"  th:each ="pageNum,status:${pages}">
    			<a  th:class="${status.index==currentPage?'btn btn-primary' : 'btn'}" th:href="@{clients(pageNum=${status.index})}" th:text="${status.index}"></a>
    			</li>

  			</ul>
		</nav>
		
		
	  </div>--> 
     

      <footer class="text-center">
        <div class="mb-2">
          <small>
            © 2020 made with <i class="fa fa-heart" style="color:red"></i> by - jaziri oussema
            
          </small>
        </div>


      </footer>

    </div>

  </main>
  <!-- page-content" -->
</div>
     
     

	
		<div th:replace="common/header :: scripts"></div>
	</body>
</html>