<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" 
				th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" 
				href="webjars/bootstrap/4.5.3/css/bootstrap.css" />
				
				<script src="webjars/jquery/3.5.1/jquery.js"
				th:src="@{/webjars/jquery/3.5.1/jquery.min.js/}"></script>
				
				<script src="webjars/bootstrap/4.5.3/js/bootstrap.js"
				th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
</head>
<body>




 <div class="container">
        <h1>gestion des chambres</h1>
        <hr>
        <h2>modifier une chambre</h2>

           <form action="#" th:action="@{/savechambre}" th:object="${chambreEntity}" method="POST">
        
            <input type="hidden" th:field="*{idchambre}" >
        
            <input type="text" th:field="*{numchambre}" placeholder="num" class="form-control mb-4 col-4"><br>

            <input type="text" th:field="*{typechambre}" placeholder="type" class="form-control mb-4 col-4"><br> 
            
            <input type="text" th:field="*{nbrdelit}" placeholder="nbr de lit" class="form-control mb-4 col-4"><br>



            <button type="submit" class="btn btn-info col-2"> modigier table</button>
        </form>  

        <hr>

    </div>
</body>
</html>