<div class="container_fluid topDiv">
	<a href="/"><img class="logo" src="https://raw.githubusercontent.com/talk2amareswaran/hackerearth-challenge/master/hotel-booking-web-app/src/main/resources/static/images/logo.png" border="0"/></a> Tunisia Largest
	Hospitality
</div>



<nav class="navbar navbar-expand-sm bg-danger navbar-dark">
	<ul class="navbar-nav mr-auto">
	<li class="nav-item active"><a class="nav-link" href="/">Home</a>
		</li>
	
	</ul>

	<ul class="navbar-nav">
		<li class="nav-item active" id="login"><a class="nav-link" href="login">Login</a>
		</li>
		<li class="nav-item active" id="register"><a class="nav-link" href="register">Register</a>
		</li>
		<li class="nav-item active" id="logout"><a class="nav-link" href="logout">Logout</a>
		</li>

	</ul>
</nav>