
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Handling Form Submission</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />
</head>
<body>
	<div class="container">
		<div th:fragment="roomform(url)">
			<form action="#" th:action="@{|/hotels/${hotel.id}/rooms/|}"
				th:object="${room}" method="post">
				<p>
					<input type="hidden" th:field="*{id}" />
					<label>Floor</label><input min="1" class="form-control" placeholder="Floor"
						type="number" th:field="*{floor}" />
				</p>
				<p>
					<label>Room number</label><input class="form-control"
						placeholder="Room Number" type="text" th:field="*{room_number}" />
				</p>
				<p>
					<label>Price (€)</label><input class="form-control"
						placeholder="Price per night" type="text" th:field="*{price}" />
				</p>
				<p> 
					<label>Room type</label>
					<select class="form-control" th:field ="*{type}">
		        		<option th:each="rt : ${roomTypes}" th:text="${rt.description}" th:value="${rt.id}"></option>
		        	</select>	
				</p>
				<p>
					<input class="btn btn-primary" type="submit" value="Submit" /> 
					<input class="btn btn-default" type="reset" value="Reset" />
				</p>
				<p><a th:href="@{|/hotels/${hotel.id}/rooms/|}">Back</a></p>
			</form>
		</div>
	</div>
</body>
</html>